body{
    margin: 0 auto;
    font-family: "Candara Light";
    font-weight: bolder;
}

.option{
    background-color: rgba(210, 210, 210, 0.94);
}



.grid{
    display: grid;
    grid-template-columns: 370px 360px 370px;
    gap: 5px;
}

.grid2{
    display: grid;
    grid-template-columns: 500px 650px;
    gap: 5px;
}

.grid3{
    display: grid;
    grid-template-columns: 600px 700px;
    gap: 30px;
}

.grid4{
    display: grid;
    grid-template-columns: 480px 450px 480px;
    gap: 5px;
}

.grid5{
    display: grid;
    grid-template-columns: 480px 937px;
    gap: 5px;
}

.grid-item{
    padding: 30px;

}


button{
    font: caption;
}

form input{
    font-family: Arial;
}

select{
    font-family: Arial;
}

.bagulho{
    padding: 35px;
    background-color: white;
}

#valor{
    text-align: center;
    padding: 35px;
    background-color: white;
}

.numero{
    font-family: "arial black";
    font-size: 30px;
}

.img{
    background-color: black;
    height: 50px;
    width: 50px;
}

.titulo {
    padding-right: 30px;
    font-weight: bold;
    font-size: 25px;
    color: white;

}

.subtitulo{
    text-align: center;
    background-color: #c9102b;
    font: caption;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.bla{
    padding: 20px;

}

a {
    padding: 35px;
}

#sair{
    position: absolute;
    right: 40px;
}

.fundo {
    background-color: #931222;
}

.linkativo{
    font-size: 16px;
    color: white;
}



.navstyle{
    padding: 35px;
    background-color: black;
    color: rgb(42, 42, 55);
    width: 100%;
    text-align: center;
}

footer { margin: 0 auto;
    background-color: rgb(13, 13, 13);
    color:  rgb(217, 217, 217);
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.formlogin {
    background-color: #ffffff;
    width: 350px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #000000;
}

.linkado{
    text-decoration: none;
    color: #c9102b;
}
.linkado:hover {color: white}

.linkativo:hover {color: #c9102b;}